# Gradle specific
.gradle/

!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA specific
.idea/
*.iml
*.iws
out/

# Eclipse specific
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# NetBeans specific
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code specific
.vscode/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
